body{
  font-family: "araial","Meiryo",sans-serif;
  text-align: center;
}
h1{
  font-family: 'Josefin Sans', sans-serif;
  font-size:2rem;
  letter-spacing: 1.2rem;
  text-decoration: underline 3px rgb(115,115,114);
  text-shadow: 3px 3px 5px gray;
}
.pink{
  color:rgb(255,192,203);
}
.skyblue{
  color:skyblue;
}
#basic > p {
  font-weight:bold;
}
